<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind Wave App</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        /* Full screen styles */
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }

    </style>
</head>
<body>
        <!-- Chart Container -->
        <div id="chartContainer">
            <canvas id="hourlyWindWaveChart"></canvas>
        </div>
    <!-- Map full-screen behind -->
    <div id="map"></div>

    <!-- Button container -->
    <div class="button-container">
        <button class="btn btn-primary" id="windWaveBtn">Wind Wave</button>
        <button class="btn btn-secondary" id="toggleChartButton">Show Wind Wave Data</button> <!-- Added toggle button -->
    </div>
    

    <!-- Data container for wind wave data -->
    <div class="data-container">
        <button class="btn btn-danger btn-sm" id="exitBtn" style="float: right;">Close</button>
        <h3>Wind Wave Data</h3>
        <div>
            <strong>Latitude:</strong> <span id="latitude">N/A</span><br>
            <strong>Longitude:</strong> <span id="longitude">N/A</span>
        </div>
        <div id="windWaveDataTable" class="table-responsive mt-3">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Height</td>
                        <td id="windHeight">N/A</td>
                    </tr>
                    <tr>
                        <td>Direction</td>
                        <td id="windDirection">N/A</td>
                    </tr>
                    <tr>
                        <td>Period</td>
                        <td id="windPeriod">N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script> 

</body>
</html>
